{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
  Todos los detalles
{% endblock %}
{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %}
{% block content %}
  <div class="layout">
    {% include 'includes/sidebar.html' %}

    <!-- Main content -->
    <div class="main-content">
      <!-- Header -->
      {% include 'includes/header.html' %}

      <!-- Aquí va el contenido de la página -->
      <main>
        <!-- === COURSE OVERVIEW === -->
        <div class="course-layout">
          <!-- Accordion del curso -->
          <div class="course-sections">
            <h2>Contenido del curso</h2>
            <div class="accordion">
              {% for secction in course.course_content %}
                <div class="accordion-item">
                  <button class="accordion-header">Sección {{ secction.id }}: {{ secction.name }}</button>
                  <div class="accordion-content">
                    <ul>
                      {% for lesson in secction.lessons %}
                        <li>
                          <i class="fa-solid {% if lesson.type == 'video' %} fa-video {%else%} fa-file {%endif%}"></i>{{ lesson.name }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endfor %}

              <!-- Agrega más secciones similares -->
            </div>
          </div>

          <!-- Card lateral -->
          <div class="course-info-card">
            <div class="card-banner">
              <div class="tag">{devilearn}</div>
              <img src="{{course.course_banner}}" alt="Monarca sololeveling" />
              <img class="author-avatar" src="{{course.course_author}}" alt="Autor" />
            </div>
            <div class="card-body">
              <h3>Acerca de este curso</h3>
              <ul class="course-details">
                <li>
                  <i class="fa-solid  fa-file"></i> {{ course.info_course.lessons }} lecciones
                </li>
                <li>
                  <i class="fa-solid  fa-video"></i> {{ course.info_course.duration }} Horas de contenidos en videos
                </li>
                <li>
                  <i class="fa-solid  fa-graduation-cap"></i> {{ course.info_course.instructor }}
                </li>
              </ul>
              <a class="btn bnt-primary btn-course" href="{% url course.course_link %}">Continuar aprendiendo</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
