<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://motionbgs.com/media/4418/sung-jin-woo-darkness.jpg">
    {% block custom_styles %}{% endblock custom_styles %}
  </head>

  <body>
    
    {% block content %}{% endblock content %}
    
    {% block scripts %}{% endblock scripts %}
        
  </body>
</html>
